.treeview{
    width: 100%;
}

.treeview .folder,.content{
    cursor: pointer;
}

.treeview .folder .content-icon{
    color: blue;
    margin-right: 5px;
}

.treeview .folder .caret{
    font-weight: bold;
    margin-left: 5px;
}

.treeview .content .content-icon{
    color: green;
    margin-right: 5px;
}

.treeview .folder.muted{
    color: gray;
    cursor:default;
}

.widget .expand-all{
    color: blue
}

.widget .collapse-all{
    color: blue;
}

.treeview.widget .header{
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #444444;
}